body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1F2937;
    color: white;
    font-family: Arial ;
    padding-left: 20px;
    padding-right: 20px;
}

.first-container {
    background: #1F2937;
    color: white;
    font-family: Arial ;
}

ul {
    display: flex;
    padding: 10px;
    text-decoration: none;
    gap: 20px;
}

li {
    list-style: none;
}

img {
    border: 1px solid black;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .06);
    border-radius: 4px;
}